// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
@primary-color: lightblue;
@heading-color: white;
@body-color: rgb(29, 29, 29);
@heading-font: 'Liu Jian Mao Cao', cursive;
@body-font: 'Patrick Hand', cursive;

.center {
	display: flex;
	justify-content: center;
}

.spacing {
	margin: 20px;
	padding: 20px;
}

.min-spacing {
	margin: 5px;
	padding: 5px;
}

* {
	box-sizing: border-box;
	font-size: 10px;
}

html, body {
	height: 100%;
}

header {
	display: flex;
	justify-content: flex-end;
	nav {

		a {
			text-decoration: none;
			color: @primary-color;
			font-size: 1.5em;
			.spacing();
		}
		
	}
	.spacing();
}

section {
	div {
		.spacing();
	}

	.profile {
		background-color: @primary-color;

		img {
			height: 25%;
			width: 25%;
		}

		h1 {
			font-size: 3.5em;
			font-family: @heading-font;
			color: @heading-color;
		}

		h2 {
			font-family: @body-font;
			color: @heading-color;
			font-size: 1.5em;
			.spacing();
		}

		p {
			font-family: @body-font;
			color: @body-color;
			.min-spacing();
		}
	}

	.top-section {
		.center();
		
		@media (max-width: 500px) {
			display: block;
		}

		div {
			width: 50%;

			h2 {
				font-family: @heading-font;
				font-size: 2.5em;
			}

			p {
				font-family: @body-font;
				font-size: 1.2em
				.spacing();
			}

			@media (max-width: 500px) {
				width: 100%;
			}
		}

		.stuff {

			p {
			border: 1px solid lightgray;
			
			.min-spacing();
			}
		}
	}

	.bottom-section {

		.center();

		h2 {
			font-family: @heading-font;
			font-size: 2.5em;
		}

		table {

			font-family: @body-font;
			font-size: 1.1em;
			margin: 10px;

			border: 1px solid #ddd;
			padding: 8px;
					}
			tr:nth-child(even){background-color: #f2f2f2;}

			td {
				.spacing();
		}

		@media (max-width: 500) {
			display: block;
		}
	}
}

footer {
	.center();
}